@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Major+Mono+Display&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.major {
  font-family: 'Major Mono Display', monospace;
  font-weight: 400;
  font-style: normal;
}

.archivo {
  font-family: 'Archivo', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}
